
@{
    ViewData["Title"] = "Index";
}

<link href="~/plugins/select2/select2.min.css" rel="stylesheet" />
<link href="~/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<style>

    .englishForm {
        text-align: left;
    }

    .select2-container--open .select2-dropdown--above {
        text-align: left;
    }
</style>

<div class="container" dir="ltr">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group englishForm">
                <label>
                    <input type="radio" name="r2" class="minimal-red" checked>
                    Search By Name Contact Details

                </label>
                <label>
                    <input type="radio" name="r2" class="minimal-red">
                    Search By Business Activities
                </label>

            </div>
        </div>

    </div>
    <div class="row">


        <div class="col-md-4" dir="ltr">
            <div class="form-group englishForm">
                <label>Organization Type</label>
                <select id="Organization" class="form-control select2" style="width: 100%" dir="ltr">
                    @foreach (var item in ViewBag.result)
                    {
                        <option value=@item.Id selected="selected">@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4" dir="ltr">
            <div class="form-group englishForm">
                <label>Business Type</label>
                <select class="form-control select2" style="width: 100%" dir="ltr" id="Business">
                </select>
            </div>
        </div>


    </div>

</div>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">نتیجه جستجو</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped" dir="ltr">
                <thead>
                    <tr>
                        <th>Organization Name (Arabic)</th>
                        <th>Organization Name (English)</th>
                        <th>PO-Box</th>
                        <th>Telephone No</th>
                        <th>Fax No</th>
                        <th>e-Mail Address</th>

                    </tr>
                </thead>
                <tbody id="expBody">

                    @*<tr>
                        <th>Show Detail</th>
                        <th>qatar@@email.com</th>
                        <th>Fax No</th>
                        <th>55774730</th>
                        <th>1851</th>
                        <th>AL AMERAH AGRICULTURE	</th>
                        <th>الاميره للزراعه	</th>

                    </tr>*@




                </tbody>
                <tfoot>
                    <tr>
                        <th>Organization Name (Arabic)</th>
                        <th>Organization Name (English)</th>
                        <th>PO-Box</th>
                        <th>Telephone No</th>
                        <th>Fax No</th>
                        <th>e-Mail Address</th>


                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>

</div>

@section Scripts  {
    <script src="~/plugins/select2/select2.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script>

        $(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            $("#example1").DataTable({
                "language": {
                    "paginate": {
                        "next": "بعدی",
                        "previous": "قبلی"
                    }
                },
                "info": false,
            });


        })

    </script>
    <script>
        $("#Organization").val();
        $("#Organization option:selected").text();

        $("#Organization").change(function () {



            var requestBusinesID = new Object();
            requestBusinesID.Id = parseInt($("#Organization option:selected").val());



            $.ajax({
                url: "/Company/GetSubcategory/",
                type: "POST",
                data: JSON.stringify(requestBusinesID),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (recData) {
                    AppendToDropDown(recData);

                }

            });
        });

        function AppendToDropDown(recData) {
            $("#Business").empty();

            $.each(recData, function (index, value) {
                $('#Business').append(
                    '<option value="' + value.organizationId + '">' + value.organizationtype + '</option>');
            });

            $("#Business").select2();
        }



    </script>


    <script>
        $("#Business").change(function () {
           
            var requestOrgBisId = new Object();
            requestOrgBisId.businessid = parseInt($("#Business option:selected").val());

           
            requestOrgBisId.organizationid = parseInt($("#Organization option:selected").val());


            $.ajax({
                url: "/Company/GetCompanies/",
                type: "POST",
                data: JSON.stringify(requestOrgBisId),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (recData) {
                    AppendToTable(recData);

                }

            });
        });
        function AppendToTable(recData) {
            $("#expBody").empty();

            var table = $('#example1').DataTable();




            $.each(recData, function (index, value) {



                //    $('#expBody').append(
                //        '<tr><th>' + value.organization_Name_Ar + '</th><th>' + value.organization_Name_En
                //        + '</th><th>' + value.po_Box + '</th><th>' + value.phone_No + '</th><th>' + value.fax_No + '</th><th>' + value.email+'</th></tr>' );
                //});

                table.row.add([
                    value.organization_Name_Ar,
                    value.organization_Name_En,
                    value.po_Box,
                    value.phone_No,
                    value.fax_No,
                    value.email
                ]).draw(false);
            });
        }

                //  $('#example1').DataTable();


    </script>

}
