

@{
    ViewData["Title"] = "Insert";
}

<link href="~/plugins/toastr/toastr.css" rel="stylesheet" />
<link href="~/plugins/select2/select2.min.css" rel="stylesheet" />
<style>
    select {
        direction: ltr;
        text-align: left !important;
    }

    option {
        text-align: left !important;
        direction: ltr;
    }
    label {
        float: left;
    }
    input {
        direction:ltr;
    }
    .englishForm {
        text-align: left !important;
    }

    .select2-container--open .select2-dropdown--above {
        text-align: left !important;
    }

    .pointer {
        cursor: pointer;
    }
   
   

</style>


<div class="container" id="mydiv" >

    <div class="was-validated">
        <br />      
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname" > Business_Type</label>
 
            <select class="form-control" id="Business" name="Business"  >
                <option></option>
                @foreach (var item in ViewBag.BusinesList)
                {
                    <option value="@item.Id">@item.Name</option>

                }

            </select>
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname">Organization_Type </label>
            <select class="form-control" id="Organization" name="Organization" dir="ltr"  >
            </select>

        </div>

        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname">  Organization Name (Arabic)</label>
            <input type="text" class="form-control" id="namearabic" name="namearabic" >
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Organization Name (English)</label>
            <input type="text" class="form-control" id="nameenglish" name="nameenglish">
        </div>

        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> PO-Box </label>
            <input type="text" class="form-control" id="box" name="box">
        </div>

        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Telephone No </label>
            <input type="text" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Cr_Number </label>
            <input type="text" class="form-control" id="crnumber" name="crnumber">
        </div>

        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Fax No </label>
            <input type="text" class="form-control" id="fax" name="fax">
        </div>

        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> e-Mail Address </label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Website </label>
            <input type="text" class="form-control" id="website" name="website">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Membership_Date </label>
            <input type="text" class="form-control" id="membershipdate" name="membershipdate">
        </div>

        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname">Membership_Renew_Date  </label>
            <input type="text" class="form-control" id="membershiprenew" name="membershiprenew">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Membership_Next_RenewDdate </label>
            <input type="text" class="form-control" id="memnextrenewdate" name="memnextrenewdate">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Company_Type </label>
            <input type="text" class="form-control" id="companytype" name="companytype">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> Contact_Person_Ar </label>
            <input type="text" class="form-control" id="contacrpersonarabic" name="contacrpersonarabic">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname">Contact_Person_En  </label>
            <input type="text" class="form-control" id="contactpersoneng" name="contactpersoneng">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname">Address_En  </label>
            <input type="text" class="form-control" id="addresseng" name="addresseng">
        </div>

        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname">Address_Ar  </label>
            <input type="text" class="form-control" id="addressarabic" name="addressarabic">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname">City_Name_Ar  </label>
            <input type="text" class="form-control" id="citynamear" name="citynamear">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname"> City_Name_En </label>
            <input type="text" class="form-control" id="citynameeng" name="citynameeng">
        </div>
        <div class="form-group col-md-6" style="margin-right:270px">
            <label for="uname">Area </label>
            <input type="text" class="form-control" id="area" name="area">
        </div>



        <div class="form-group col-md-6" style="margin-right:270px">
            <button class="btn btn-block btn-success " style="color:white" id="BtnInsert">افزودن</button>
        </div>

    </div>
</div>
@section Scripts  {

    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/plugins/select2/select2.min.js"></script>


    <script>
        $(document).ready(function () {
            $selectElement = $('#Business').select2({
                placeholder: "Please select a business",
                allowClear: true
            });
        });
        $("#Organization").val();
        $("#Organization option:selected").text();

        $("#Business").change(function () {

            var requestBusinesID = new Object();
            requestBusinesID.Id = parseInt($("#Business option:selected").val());


            $.ajax({
                url: "/Company/GetSubcategory/",
                type: "POST",
                data: JSON.stringify(requestBusinesID),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (recData) {
                    AppendToDropDown(recData);

                }

            });
        });

        function AppendToDropDown(recData) {
            $("#Organization").empty();

            $.each(recData, function (index, value) {
                $('#Organization').append(
                    '<option value="' + value.organizationId + '">' + value.organizationtype + '</option>');
            });

            $("#Organization").select2();
        }

        $("#BtnInsert").click(function () {
            var company = new Object();

            company.business_Id = $("#Business").val();
            company.organization_Id = $("#Organization").val();
            company.organization_Name_Ar = $("#namearabic").val();
            company.organization_Name_En = $("#nameenglish").val();
            company.po_Box = $("#box").val();
            company.phone_No = $("#phone").val();
            company.cr_Number = $("#crnumber").val();
            company.fax_No = $("#fax").val();
            company.email = $("#email").val();
            company.website = $("#website").val();
            company.membership_Date = $("#membershipdate").val();
            company.membership_Renew_Date = $("#membershiprenew").val();
            company.membership_Next_RenewDdate = $("#memnextrenewdate").val();
            company.company_Type = $("#companytype").val();
            company.contact_Person_Ar = $("#contacrpersonarabic").val();
            company.contact_Person_En = $("#contactpersoneng").val();
            company.address_En = $("#addresseng").val();
            company.address_Ar = $("#addressarabic").val();
            company.city_Name_Ar = $("#citynamear").val();
            company.city_Name_En = $("#citynameeng").val();
            company.area = $("#area").val();


            $.ajax({
                url: "/Company/InsertOnDb/",
                type: "POST",
                data: JSON.stringify(company),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (recData) {
                    Succes(recData);
                    Clear();
                }
            });
        });

        function Succes(recData) {
            if (recData) {
                toastr.success("اطلاعات با موفقیت ثبت شد", "Success");

            }
        }

        function Clear() {


            //$(':input', '#mydiv')

            //    .val('');
            //$("#Organization option").remove();

            $('#Organization').empty();
            $("#Organization").select2();
            $('#namearabic').val('');
            $('#nameenglish').val('');
            $('#box').val('');
            $('#phone').val('');
            $('#crnumber').val('');
            $('#fax').val('');
            $('#email').val('');
            $('#website').val('');
            $('#membershipdate').val('');
            $('#membershiprenew').val('');
            $('#memnextrenewdate').val('');
            $('#companytype').val('');
            $('#contacrpersonarabic').val('');
            $('#contactpersoneng').val('');
            $('#addresseng').val('');
            $('#addressarabic').val('');
            $('#citynamear').val('');
            $('#citynameeng').val('');
            $('#area').val('');


        }

    </script>


}

