@*  *@
@{
    ViewData["Title"] = "SearchByName";
}

<link href="~/plugins/select2/select2.min.css" rel="stylesheet" />
<link href="~/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/plugins/toastr/toastr.css" rel="stylesheet" />

<style>

    .englishForm {
        text-align: left;
    }

    .select2-container--open .select2-dropdown--above {
        text-align: left;
    }

    .pointer {
        cursor: pointer;
    }
</style>

<div class="container" dir="ltr">

    <div class="row">
        <div class="col-md-3" dir="ltr">
            <div class="form-group englishForm">
                <label>Business Type</label>
                <select id="Business" class="form-control select2" style="width: 100%" dir="ltr">
                    <option></option>
                    @foreach (var item in ViewBag.result)
                        {
                            <option value=@item.Id >@item.Name</option>
                        }
                </select>
            </div>
        </div>
        <div class="col-md-3" dir="ltr">
            <div class="form-group englishForm">
                <label>CompanyName</label>

                <input type="text" class="form-control" id="CompanyName" name="CompanyName" dir="rtl">
            </div>
        </div>
        <div>

            <div class="col-md-3" style="margin-right:270px ;margin-top:30px">
                <div class="form-group englishForm">
                    <button class="btn btn-block btn-success " style="color:white" id="BtnSearch">جستجو</button>
                </div>
            </div>




        </div>

    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">نتیجه جستجو</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped" >
                <thead align="center">
                    <tr dir="ltr">
                        <th>Delete</th>
                        <th>Edite</th>
                        <th>e-Mail Address</th>
                        <th>Fax No</th>
                        <th>PO-Box</th>
                        <th>Telephone No</th>
                        <th>Organization Name (English)</th>
                        <th>Organization Name (Arabic)</th>



                    </tr>
                </thead>
                <tbody id="expBody" align="center">
                </tbody>
                <tfoot align="center">
                    <tr>
                        <th>Delete</th>
                        <th>Edite</th>
                        <th>e-Mail Address</th>
                        <th>Fax No</th>
                        <th>PO-Box</th>
                        <th>Telephone No</th>
                        <th>Organization Name (English)</th>
                        <th>Organization Name (Arabic)</th>



                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>

</div>
<div class="modal fade" id="modal-danger" style="z-index:1000000000 !important">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Delete item Question</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>آیا از حذف این رکورد اطمینان دارید؟&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-outline-light" id="CompanyId" value="" onclick="FinalDelete(this)">بله</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts  {
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/plugins/select2/select2.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.js"></script>

<script>
    $(document).ready(function () {
        $selectElement = $('#Business').select2({
            placeholder: "Please select a business",
            allowClear: true
        });
    });
    
    $("#BtnSearch").click(function () {
        var getCompanyByName = new Object();

        getCompanyByName.Name = $("#CompanyName").val();
        getCompanyByName.Id = parseInt($("#Business option:selected").val());


        $.ajax({
            url: "/Company/GetCompanyByName/",
            type: "POST",
            data: JSON.stringify(getCompanyByName),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (recData) {
                AppendToTable(recData);

            }

        });
        function AppendToTable(recData) {
            
            var table = $('#example1').DataTable();

            table
                .clear()
                .draw();

            $.each(recData, function (index, value) {


                table.row.add([
                    value.delete,
                    value.edite,
                    value.email,
                    value.fax_No,
                    value.po_Box,
                    value.phone_No,
                    value.organization_Name_En,   
                    value.organization_Name_Ar,
                   
                ]).node().id = value.id;
                table.draw(false);



            });
        }
    });
    function deleteById(thisEl) {
        $('#modal-danger').modal('show');
        $("#modal-danger #CompanyId").val(thisEl.id);  
    }

    function FinalDelete(thisElement) {
        var id = thisElement.value;

        $.ajax({
            url: "/Company/DeleteById/",
            type: "POST",
            data: JSON.stringify(id),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (recData) {
                $('#modal-danger').modal('toggle');
                toastr.success("رکورد مورد نظر با موفقیت حذف شد", "Success");
                $('#example1').DataTable().row('#'+id).remove().draw();
            }
            
            

        });
       
    }

</script>

}
